.banner{
  width:100%;
  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
}

nav{
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Raleway', sans-serif;
}

#main1{
  font-family: 'Neucha', cursive;
}

#main2{
  font-family: 'Poppins', sans-serif;
}

#main3{
  font-family: 'Raleway', sans-serif;
}
