.banner{
  width:100%;
  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', cursive;
}

nav{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

#main1{
  font-family: 'Neucha', cursive;
}

#main2{
  font-family: 'Poppins', sans-serif;
}

#main3{
  font-family: 'Raleway', sans-serif;
}

strong{
  font-weight: 500
}
